.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #112;
}

.graph{
  flex-grow: 1;
  width: 60%;
  height: 500px;
  max-width: 900px;
  margin: auto;
  /*background-color: rgba(0,0,44,0.2);*/
}


.plank-img{
  display: block;
  margin: auto;
  margin-bottom: 16px;
}