*{overflow: none;
box-sizing: border-box;}
body {
  margin: 0;
 font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
    color: #334;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


table{
  width: 80%;
margin:auto;
  margin-top: 16px;

}
tr:nth-child(2n+1){
  background-color: #cdd;
  
}
td,th{padding: 8px;}

.flex{display: flex;}